@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model EpiserverSite_CompanyIntranet.Models.Blocks.FeedsBlockType

<div class="jumbotron">
    <div class="container">
        <h1>@Html.PropertyFor(x => x.Header)</h1>
        <p>
            <img class="pull-left img-responsive" src="@Model.Image" />
            @Html.PropertyFor(x => x.Description)
        </p>
        <p class="clearfix"><a class="btn btn-primary btn-lg " href="@Model.Url" role="button" target="_new">@Model.Button</a></p>
    </div>
</div>
